/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
Colors
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

$white: #fff;
$sand: #faf9f3;
$lightgrey: #bec2c6;
$grey: #535e69;
$black: #202428;
$blacker: #000;

$green: #349e30;
$red: #af2d2d;
$orange: #ff9600;

$facebook: #3b5998;
$twitter:  #4099ff;

/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
MQs
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
$smb: em(344);
$smb: em(344);
$mb: em(480);
$tn: em(640);
$sm: em(768);
$md: em(900);
$lg: em(1040);
$big: em(1280);
$max: em(1440);


/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
Typo
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */
$subcaption: rem(12);
$caption: rem(14);
$copy: rem(16);
$sublead: rem(19);
$lead: rem(21);
$subhead: rem(26);
$head: rem(29);


/* –––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––
Misc / Extends
––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––– */

@lost flexbox flex;

img,
object,
embed {
    max-width: 100%;
}

.breakme {
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
    hyphens: auto;
}

::selection {
    // background: $grey;
}

::-moz-selection {
    // background: $grey;
}
