@media print {
    .mainnav,
    footer {
        display: none;
    }

    html {
        font-size: 1em;
    }

    body {
        background: white;
        width: 90%;
        margin: 0 auto;
        overflow: visible !important;
        display: block;
    }
}
